.for_mob {
    border: 3px solid black;
    margin: 12vh 0;
    height: 12vh;
}

.for_desk {
    border: 3px solid black;
    margin: 12vh 0;
    height: 12vh;
    display: none;
}



@media only screen and (min-width: 768px) {
    .for_desk {
        display: block;
    }

    .for_mob {
        display: none;
    }
}